:root {
    --address: #757575;
    --background-color: #2F303A;
    --background-text-color: white;
    --button-active-color: #2196F3;
    --button-active-text-color: white;
    --button-color: #F5F4FA;
    --button-text-color: black;
    --container-width: 1200px;
    --footer-address-contact: #FFFFFF99;
    --footer-address-size: 14px;
    --footer-address: #FFF;
    --footer-logo: white;
    --h2-font-size: 36px;
    --header-container-border-color: #ECECEC;
    --header-height: 600px;
    --header-link-font-size: 14px;
    --header-link-font-weight: 500;
    --header-link-line-height: 1.17;
    --link-active-color: #2196F3;
    --link-color: black;
    --logo-start-color: #2196F3;
    --our-team-container-color: #F5F4FA;
    --our-team-element-background: white;
    --picture-title-font-size: 16px;
    --picture-title-font-weight: 500;
    --picture-title-line-height: 1.17;
    --picture-work-font-size: 16px;
    --picture-work-font-weight: 400;
    --picture-work-line-height: 1.17;
    --portfolio-navigation-font-size: 16px;
    --portfolio-navigation-font-weight: 500;
    --portfolio-navigation-line-height: 1.25;
    --portfolio-picture-border-color: #EEE;
    --portfolio-picture-title-font-size: 18px;
    --portfolio-picture-title-font-weight: 700;
    --portfolio-picture-title-line-height: 2;
    --text-color: #212121;
    --logo-link-font-size: 26px;
    --lorem-ipsum-article-color: #757575;
    --lorem-ipsum-article-font-size: 14px;
    --button-border-radius: 4px;
}

body {
    font-family: "RobotoRegular 400", "RobotoMedium 500", "RobotoBold 700", "RobotoBlack 900", sans-serif;
    color: var(--text-color);
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

h2 {
    text-align: center;
    font-size: var(--h2-font-size);
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

.section-padding-top {
    padding-top: 94px;
}

.section-padding-bottom {
    padding-bottom: 94px;
}

.header {
    border-bottom: 1px solid var(--header-container-border-color);
    height: 80px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%
}

.flexbox-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.portfolio-picture {
    border: 1px solid var(--portfolio-picture-border-color);
    margin-bottom: 30px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
    position: relative;
}

.portfolio-picture:hover, .portfolio-picture:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}

.portfolio-picture-text {
    padding: 20px 24px;
}

.flexbox-center {
    display: flex;
    justify-content: center;
}

.lorem-ipsum-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.flexbox-spaces {
    display: flex;
    justify-content: space-between;
}

.portfolio-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inline-block {
    display: inline-block;
}

.pre {
    white-space: pre;
}

.title {
    text-align: center;
    font-size: 44px;
}

.our-team-container {
    background-color: var(--our-team-container-color);
}

.our-team-image {
    margin-bottom: 30px;
}

.our-team-element {
    background-color: var(--our-team-element-background);
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: black;
    font-size: var(--logo-link-font-size);
    margin-right: 93px;
}

.logo-start {
    color: var(--logo-start-color);
}

.button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    cursor: pointer;
    font-size: 16px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color;
}

.order-button {
    background-color: var(--button-active-color);
    color: var(--button-active-text-color);
    cursor: pointer;
    font-size: 16px;
    padding: 10px 41px 10px 42px;
    border-radius: var(--button-border-radius);
}

.button:hover, .button:focus {
    background-color: var(--button-active-color);
    color: var(--button-active-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color;
}

.link {
    color: var(--link-color);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
}

.link:hover, .link:focus {
    color: var(--link-active-color);
    fill: var(--link-active-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
}

.header-link {
    font-size: var(--header-link-font-size);
    font-weight: var(--header-link-font-weight);
    line-height: var(--header-link-line-height);
    display: inline;
    margin-right: 46px;
    position: relative;
}

.header-link.phone {
    margin-right: 0;
}

.portfolio-picture-title {
    font-size: var(--portfolio-picture-title-font-size);
    font-weight: var(--portfolio-picture-title-font-weight);
    line-height: var(--portfolio-picture-title-line-height);
}

.portfolio-navigation {
    font-size: var(--portfolio-navigation-font-size);
    font-weight: var(--portfolio-navigation-font-weight);
    line-height: var(--portfolio-navigation-line-height);
    border: 0 solid transparent;
    padding: 6px 22px;
    margin: 0 3px;
    border-radius: var(--button-border-radius);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
}

.portfolio-navigation:hover, .portfolio-navigation:focus {
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
}

.picture-title {
    font-size: var(--picture-title-font-size);
    font-weight: var(--picture-title-font-weight);
    line-height: var(--picture-title-line-height);
    margin-bottom: 10px;
}

.picture-work {
    font-size: var(--picture-work-font-size);
    font-weight: var(--picture-work-font-weight);
    line-height: var(--picture-work-line-height);
    margin-bottom: 16px;
    color: #757575;
}

.background {
    background-color: var(--background-color);
    color: var(--background-text-color);
}

.address {
    color: var(--address);
}

.footer-logo {
    color: var(--footer-logo);
}

.footer-address {
    font-size: var(--footer-address-size);
    color: var(--footer-address);
}

.footer-address-contact > a.link {
    color: var(--footer-address-contact);
}

.portfolio-navigation-container {
    margin-bottom: 56px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: baseline;
}

.footer-info > *:nth-child(1) {
    margin-bottom: 20px;
}

.footer-info > * {
    margin-bottom: 9px;
    display: block;
}

.lorem-ipsum-element > .pre {
    color: var(--lorem-ipsum-article-color);
    font-size: var(--lorem-ipsum-article-font-size);
}

.auto-margin {
    margin: 0 auto;
    padding: 0;
}

.lorem-ipsum-image {
    width: 70px;
    height: 70px;
}

.social {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

.footer-social .social {
    fill: white;
}

.social-icon:hover > .social, .social-icon:focus > .social {
    fill: white;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.social-icon:hover, .social-icon:focus {
    background-color: #2196F3;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.social-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.client-image-box {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color, fill;
}

.client-image-box:hover, .client-image-box:focus {
    border-color: #2196F3;
    fill: #2196F3;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color, fill;
}

.clients-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-social {
    display: inline-block;
}

.footer-info {
    display: inline-block;
    margin-right: 70px;
}

.footer-social-title {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer .social-icon {
    background-color: rgb(255, 255, 255, 10%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.footer .social-icon:hover, .social-icon:focus {
    background-color: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.footer .social-container {
    width: 206px;
    display: flex;
    justify-content: space-between;
}

.background-header {
    height: var(--header-height);
    max-width: 1600px;
    background-image: url("./../images/Img Overlay.png"), url("./../images/tełko.jpg");
    margin: 0 auto;
}

.job-text {
    color: #FFF;
    font-size: 14px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 0;
    text-align: center;
    padding: 27px 0;
}

.job-element {
    position: relative;
}

.here:after {
    content: "";
    background-color: #2196F3;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -28px;
}

.roll-up {
    position: relative;
    overflow: hidden;
}

.pop-it {
    background-color: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 0;
    text-align: center;
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 24px;
    transition-duration: 250ms;
    font-size: 18px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    transform: translateY(100%);
}

.portfolio-picture:hover .pop-it {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    transform: translateY(0);
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: visibility, opacity;
    z-index: 1000;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: white;

}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: visibility, opacity;
}

.form-header {
    size: 20px;
    display: block;
    text-align: center;
    margin-bottom: 12px;
    margin-top:40px ;
}

.form-data {
    color: #757575;
    font-size: 12px;
    display: block;
}

.form-image {
    width: 12px;
    height: 12px;
    fill: #212121;
    position: absolute;
    left: 14px;
    top: 14px;
}

.footer-newsletter-label {
    display: block;
}

.email-newsletter {
    background-color: transparent;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
}

.footer-button {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    font-weight: 700;
    border-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
}

.footer-image {
    width: 24px;
    height: 24px;
    background-color: transparent;
    fill: white;
    margin-left: 24px;
}

.footer-newsletter {
    margin-left: 90px;
}

.contact-form {
    padding-left: 40px;
    padding-right: 40px;
}

.contact-window {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
}

.contact-window.contact-comment {
    padding-left: 16px;
    padding-top: 12px;
    height: 120px;
    width: 100%;
    resize: none;
    margin-bottom: 25px;
}

.form-icon {
    position: relative;
}

.checkbox {
    width: 16px;
    height: 15px;
    margin-left: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.checkbox-privacy{
    font-size: 14px;
    color: #757575;
}

.privacy-link {
    color:rgba(33, 150, 243, 1);
}

.form-send{
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
   color:rgba(255, 255, 255, 1);
    border-color: transparent;

}

.form-button-send{
    text-align: center;
    margin-top: 30px;
}