.our-team {
  background-color: $color-light-background;

  &__box {
    @extend %container;
    @extend %section-padding-bottom;
    @extend %section-padding-top;
  }

  &__list {
    @extend %flexbox-spaces;
  }

  &__person-name {
    font-size: $font-default;
    font-weight: $font-weight-bigger;
    line-height: $line-height-big;
    margin-bottom: 10px;
  }

  &__person-function {
    font-size: $font-default;
    font-weight: $font-weight-default;
    line-height: $line-height-big;
    margin-bottom: 16px;
    color: $color-light-text;
  }

  &__image {
    margin-bottom: 30px;
  }

  &__element {
    text-align: center;
    border-radius: 0 0 4px 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  }
}
