.page-title {
  @extend %flexbox-column;
  @extend %dark-section;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: url("./../images/Img Overlay.png"), url("./../images/tełko.jpg");

  &__container {
    @extend %container;
    @extend %flexbox-column;
  }

  &__order-button {
    @extend %button-active;
    @extend %round-corner;
    font-size: $font-default;
    padding: 10px 41px 10px 42px;
  }

  &__title {
    font-size: 44px;
    text-align: center;
  }
}
