.our-clients {
  $clients-color: #AFB1B8;

  @extend %container;
  @extend %section-padding-top;
  @extend %section-padding-bottom;

  &__container {
    @extend %flexbox-spaces;
    align-items: center;
  }

  &__logo-box {
    @extend %flexbox-center;
    @extend %animated;
    @extend %round-corner;
    display: inline-flex;
    align-items: center;
    width: 170px;
    height: 92px;
    transition-property: border-color, fill;
    border: getBorder($clients-color);
    fill: $clients-color;

    &:hover, &:focus {
      @extend %animated;
      cursor: pointer;
      transition-property: border-color, fill;
      border-color: $color-active;
      fill: $color-active;
    }
  }
}
