.header {
  border-bottom: 1px solid #ECECEC;
  height: 80px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 26px;
    margin-right: 93px;
  }

  &__logo-start {
    color: #2196F3;
  }

  &__link {
    color: black;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;

    &:hover, &:focus {
      color: #2196F3;
      fill: #2196F3;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: color, fill;
    }
  }

  &__navigation-element {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    display: inline;
    margin-right: 46px;
    position: relative;
  }

  &__link--address {
    color: #757575;
  }
}

.header__navigation-element.header__link--phone {
  margin-right: 0;
}