.section-padding-top {
  padding-top: 94px;
}

.section-padding-bottom {
  padding-bottom: 94px;
}

.flexbox-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lorem-ipsum__image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.flexbox-spaces {
  display: flex;
  justify-content: space-between;
}

.inline-block {
  display: inline-block;
}

.pre {
  white-space: pre;
}

.page-title__title {
  text-align: center;
  font-size: 44px;
}

.our-team {
  background-color: #F5F4FA;
}

.our-team__image {
  margin-bottom: 30px;
}

.our-team__element {
  background-color: white;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.button {
  background-color: #F5F4FA;
  color: black;
  cursor: pointer;
  font-size: 16px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
}

.page-title__order-buton {
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
}

.button:hover, .button:focus {
  background-color: #2196F3;
  color: white;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
}

.our-team__person-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 10px;
}

.our-team__person-function {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  margin-bottom: 16px;
  color: #757575;
}

.background {
  background-color: #2F303A;
  color: white;
}

.header__logo.footer__logo {
  color: white;
}

.footer__address {
  font-size: 14px;
  color: #FFF;
}

.footer-address-contact > a.header__link {
  color: #FFFFFF99;
}

.footer__info > *:nth-child(1) {
  margin-bottom: 20px;
}

.footer__info > * {
  margin-bottom: 9px;
  display: block;
}

.lorem-ipsum-element > .pre {
  color: #757575;
  font-size: 14px;
}

.auto-margin {
  margin: 0 auto;
  padding: 0;
}

.lorem-ipsum__icon {
  width: 70px;
  height: 70px;
}

.our-team__social-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.footer__social-box .our-team__social-icon {
  fill: white;
}

.our-team__social-icon-box:hover > .our-team__social-icon, .our-team__social-icon-box:focus > .our-team__social-icon {
  fill: white;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.our-team__social-icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.our-team__social-icon-box:hover, .our-team__social-icon-box:focus {
  background-color: #2196F3;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.our-team__social-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.our-clients__logo-box {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, fill;
}

.our-clients__logo-box:hover, .our-clients__logo-box:focus {
  border-color: #2196F3;
  fill: #2196F3;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, fill;
}

.our-clients__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-box {
  display: inline-block;
}

.footer__info {
  display: inline-block;
  margin-right: 70px;
}

.newsletter-form__social-title {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer .our-team__social-icon-box {
  background-color: rgb(255, 255, 255, 10%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer .our-team__social-icon-box:hover, .our-team__social-icon-box:focus {
  background-color: #2196F3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer .our-team__social-container {
  width: 206px;
  display: flex;
  justify-content: space-between;
}

.specialisation__description {
  color: #FFF;
  font-size: 14px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 0;
  text-align: center;
  padding: 27px 0;
}

.specialisation__element {
  position: relative;
}

.here:after {
  content: "";
  background-color: #2196F3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -28px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: visibility, opacity;
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: white;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: visibility, opacity;
}

.modal__title {
  size: 20px;
  display: block;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 40px;
}

.contact-form__data {
  color: #757575;
  font-size: 12px;
  display: block;
}

.contact-form__icon {
  width: 12px;
  height: 12px;
  fill: #212121;
  position: absolute;
  left: 14px;
  top: 14px;
}

.newsletter-form__email-label {
  display: block;
}

.newsletter-form__email-input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}

.newsletter-form__button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  font-weight: 700;
  border-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.newsletter-form__button-icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
  fill: white;
  margin-left: 24px;
}

.footer__newsletter-box {
  margin-left: 90px;
}

.contact-form {
  padding-left: 40px;
  padding-right: 40px;
}

.contact-form__data_window {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
}

.contact-form__data_window.contact-form__comment {
  padding-left: 16px;
  padding-top: 12px;
  height: 120px;
  width: 100%;
  resize: none;
  margin-bottom: 25px;
}

.contact-form__element {
  position: relative;
}

.contact-form__checkbox {
  width: 16px;
  height: 15px;
  margin-left: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.contact-form__privacy {
  font-size: 14px;
  color: #757575;
}

.contact-form__privacy-link {
  color: rgba(33, 150, 243, 1);
}

.contact-form__button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  border-color: transparent;
}

.contact-form__button-box {
  text-align: center;
  margin-top: 30px;
}

//----------SOURCES----------
.flexbox-center {
  display: flex;
  justify-content: center;
}